
<ion-view view-title="Gift list">
  <ion-content>

  		<ion-item>
		<div class="list">
			<h1>Gender</h1>
		  	<label class="item item-radio">
			    <input type="radio" name="group-gender">
			    <div class="item-content">
		      	Man
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		  	</label>
		  	<label class="item item-radio">
			    <input type="radio" name="group-gender">
			    <div class="item-content">
		      	Woman
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>
		</ion-item>

		<ion-item>
		<div class="list">
			<h1>Age</h1>
		  	<label class="item item-radio">
			    <input type="radio" name="group-age">
			    <div class="item-content">
		      	Bage
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		  	</label>
		  	<label class="item item-radio">
			    <input type="radio" name="group-age">
			    <div class="item-content">
		      	Toddler
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  <label class="item item-radio">
			    <input type="radio" name="group-age">
			    <div class="item-content">
		      	Kid
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>
		</ion-item>

		<ion-item>
		<div class="list">
			<h1>Interests</h1>
		  	<label class="item item-radio">
			    <input type="radio" name="group-interests">
			    <div class="item-content">
		      	Arts
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		  	</label>
		  	<label class="item item-radio">
			    <input type="radio" name="group-interests">
			    <div class="item-content">
		      	Cars
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  <label class="item item-radio">
			    <input type="radio" name="group-interests">
			    <div class="item-content">
		      	Pets
		    	</div>
		    	<i class="radio-icon ion-checkmark"></i>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		</div>
		</ion-item>

	</ion-list>
  </ion-content>
</ion-view>

