<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

  <button ng-click="console.log(navigator.vibrate)">vibre</button>
  <label class="item">
    <iframe src="http://imabdou.koding.io/login/login.php"></iframe>
    <button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook
    </button>
  </label>



  </ion-content>
</ion-modal-view>
