<ion-view title="Not">
    <ion-content has-header="true" padding="true">
    <br>
    <br>

        <button class="button button-block button-positive" ng-click="checkIfIsScheduled()">
            checkIfIsScheduled
        </button>

        <button class="button button-block button-positive" ng-click="getNotificationIds()">
            getNotificationIds
        </button>

        <button class="button button-block button-positive" ng-click="checkIfIsTriggered()">
            checkIfIsTriggered
        </button>

        <button class="button button-block button-positive" ng-click="getTriggeredIds()">
            getTriggeredIds
        </button>

        <button class="button button-block button-positive" ng-click="notificationDefaults()">
            notificationDefaults
        </button>

        <button class="button button-block button-positive" ng-click="setDefaultOptions()">
            setDefaultOptions
        </button>



    </ion-content>

</ion-view>